@font-face {
    font-family: "Gilroy";
    src: url(./font/Gilroy-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Inter";
    src: url(./font/Inter-Regular.ttf) format("truetype");
}
